*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: Arial, Helvetica;
	background-color: #f7f7f7;
}

#container{
	width: 80%;
	margin: 0 auto;
	text-align: center; /*#f7f7f7*/
	padding-top: 50px;
}

img{
	float: left;
}

.float{
	float: right;
}

form{
	padding-top: 15%;
	clear: both;
}

input{
	text-transform: uppercase;
	font-size: 1.7em;
	height: 80px;
	width: 49%;
	display: inline;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 60px;
	padding: 20px;
	box-sizing: border-box;
	outline: none;
}

input[type=date]{
	width: 29%;
	border-radius: 15px 0 0 15px;
}

input:focus{
	border: 2px solid #088A08;
}

button{
	font-size: 1.7em;
	width: 40%;
	height: 80px;
	border: none;
	border-radius: 10px;
	color: white;
	opacity: .9;
}

button:hover{
	opacity: 1;
}


.salvar{
	width: 20%;
	border-radius: 0 15px 15px 0;
	background: #088A08;
}

.voltar{
	background: #aaa;
	margin-bottom: 50px;
}

table{
	width: 100%;
	font-size: 1.8em;
	margin: 50px 0;
}

th, td{
	border-top: 1px solid black;
	padding: 15px;
}

.clear{
	clear: both;
	padding-top: 50px;
}

