*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: Arial, Helvetica;
	background-color: #f7f7f7;
}

#container{
	width: 80%;
	margin: 0 auto;
	text-align: center; /*#f7f7f7*/
	padding-top: 50px;
}


img{
	float: left;
}

.float{
	float: right;
}

form{
	padding-top: 20px;
	clear: both;
}

input:focus{
	border: 2px solid #088A08;
}

label{
	font-size: 2rem;
	width: 70%;
	margin: 2rem auto;
}


label:hover{
	cursor: pointer;
}

button{
	font-size: 1.8em;
	width: 40%;
	height: 80px;
	border: none;
	border-radius: 10px;
	color: white;
	opacity: .9;
	margin-top: 8rem;
}

button:hover{
	opacity: 1;
}


button:last-child{
	margin-top: 30px;
}

.salvar{
	background: #088A08;
}

.voltar{
	background: #aaa;
	margin-bottom: 50px;
}
