*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: Arial, Helvetica;
	background-color: #f7f7f7;
}

#container{
	width: 80%;
	margin: 0 auto;
	text-align: center; /*#f7f7f7*/
	padding-top: 50px;
}

form{
	padding-top: 20px;
	clear: both;
}

input{
	text-transform: uppercase;
	font-size: 1.5em;
	height: 80px;
	width: 90%;
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 60px;
	padding: 20px;
	box-sizing: border-box;
	outline: none;
}

input:focus{
	border: 2px solid #088A08;
}

.left{
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	width: 45%;
}

.right{
	margin-top: 20px;
	margin-right: 20px;
	float: right;
	width: 45%;
}

input[type="time"]{
	font-size: 2.2rem;
}

input[type="date"]{
	font-size: 2.2rem;
}

.clear{
	clear: both;
}


label{
	font-size: 1.3em;
}

button{
	font-size: 1.8em;
	width: 40%;
	height: 80px;
	border: none;
	border-radius: 10px;
	color: white;
	margin-top: 20px;
	opacity: .9;
}

button:hover{
	opacity: 1;
}

button:last-child{
	margin-top: 30px;
}

.salvar{
	background: #088A08;
}

.voltar{
	background: #aaa;
	margin-bottom: 50px;
}

img{
	float: left;
}

.float{
	float: right;
}

h1{
	margin-top: 80px;
}

table{
	width: 100%;
	font-size: 1.4em;
	margin: 50px 0;
}

th, td{
	border-top: 1px solid black;
	padding: 15px;
}