*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: Arial, Helvetica;
	background-color: #f7f7f7;
}

#container{
	width: 95%;
	margin: 0 auto;
	text-align: center; /*#f7f7f7*/
	margin-top: 5px;
}

img{
	float: left;
	width: 30%;
}


.float{
	float: right;
}

form{
	padding-top: 20px;
	clear: both;
}

input{
	text-transform: uppercase;
	font-size: 1.5em;
	height: 80px;
	width: 90%;
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 60px;
	padding: 20px;
	box-sizing: border-box;
	outline: none;
}

input:focus{
	border: 2px solid #088A08;
}



label{
	font-size: 1.3em;
}

button{
	font-size: 1.8em;
	width: 40%;
	height: 60px;
	border: none;
	border-radius: 10px;
	color: white;
	opacity: .9;
}

button:hover{
	opacity: 1;
	cursor: pointer;
}

button:last-child{
	margin-top: 30px;
}

.salvar{
	background: #088A08;
}

.voltar{
	background: #aaa;
	margin-bottom: 50px;
}

.clear{
	padding-top: 6rem;
	padding-bottom: 3rem;
	clear: both;
}


/********** MEDIA *******/

@media(min-width: 768px){
	img{
		width: 20%;
	}

	button{
		width: 30%;
	}

	h3{
		font-size: 1.5rem;
	}
}