html, body{
	height: 100%;
	overflow: hidden;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: Arial, Helvetica;
	background-color: #f7f7f7;
}

button{
	position: absolute;
	z-index: 2;
	border: none;
	background-color: #088A08;
	padding: 1.5rem;
	padding-left: 2rem;
	font-size: 3rem;
	outline: none;
	border-radius: 0 0 15px 0;
}

nav{
	position: absolute;
	width: 60%;
	min-width: 200px;
	padding-top: 6.1rem;
	background-color: #EDFFEE;
	height: 100%;
	box-shadow: 0 0 10px 1px black;
}

nav ul li a{
	text-decoration: none;
	display: block;
	padding: 2.5rem;
	font-size: 1.8rem;
	color: black;
}

nav ul li a:hover{
	background-color: #088A08;
	color: white;
	transition: .3s;
}

nav ul li:last-child{
	margin-top: 7rem;
}


nav ul li i{
	font-size: 3rem;
	margin-right: 1.5rem;
	color: #088A08;
}

/******* centro  *******/

img{
	float: right;
}

#video{
	clear: both;
	padding-top: 20%;
	text-align: center;
}

form{
	width: 90%;
	margin: 20px;
	clear: both;
}

label{
	margin-left: 3rem;
	font-size: 1.3em;
}

input{
	text-transform: uppercase;
	font-size: 1.5em;
	height: 80px;
	width: 90%;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 60px;
	padding: 20px;
	box-sizing: border-box;
	outline: none;
}

input:focus{
	border: 2px solid #088A08;
}

.editar{
	font-size: 1.8em;
	width: 26%;
	height: 80px;
	border: none;
	border-radius: 10px;
	color: black;
	opacity: .9;
	margin-left: 62%;
	background-color: #E7CD05;
}