html, body{
	height: 100%;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: Arial, Helvetica;
	background-color: #f7f7f7;
}

button{
	position: absolute;
	z-index: 2;
	border: none;
	background-color: #088A08;
	padding: 1rem;
	padding-left: 1.3rem;
	font-size: 2rem;
	outline: none;
	border-radius: 0 0 15px 0;
}

button:hover{
	cursor: pointer;
}

nav{
	position: absolute;
	width: 80%;
	min-width: 200px;
	padding-top: 5rem;
	background-color: #EDFFEE;
	height: 100%;
	box-shadow: 0 0 10px 1px black;
	overflow: auto;
}


nav ul li a{
	text-decoration: none;
	display: block;
	padding: 1.5rem;
	font-size: 1.2rem;
	color: black;
	
}

nav ul li a:hover{
	background-color: #088A08;
	color: white;
	transition: .3s;
}

nav ul li:last-child{
	padding-top: 4.5rem;
}


nav ul li i{
	font-size: 2rem;
	margin-right: 1rem;
	color: #088A08;
}











/******* centro  *******/

img{
	float: right;
	width: 30%;
}


#video{
	clear: both;
	padding-top: 20%;
	text-align: center;
}

input{
	text-transform: uppercase;
	font-size: 1.5em;
	height: 80px;
	width: 90%;
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 60px;
	padding: 20px;
	box-sizing: border-box;
	outline: none;
}

input:focus{
	border: 2px solid #088A08;
}




/****** MEDIA ***********/


@media(min-width: 768px){
	nav{
		width: 50%;
	}

	img{
		width: 20%;
	}

	iframe{
		width: 600px;
		height: 400px;
	}

	#video{
		padding-top: 10%;
	}
}

@media(min-width: 1024px){
	nav{
		width: 30%;
	}

	img{
		width: 10%;
	}

	iframe{
		width: 600px;
		height: 400px;
	}

	#video{
		padding-top: 1%;
	}
}
