*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: Arial, Helvetica;
	background-color: #f7f7f7;
}

#container{
	width: 95%;
	margin: 0 auto;
	text-align: center; /*#f7f7f7*/
	padding-top: 5px;
}

img{
	float: left;
	width: 30%;
}

.float{
	float: right;
}

form{
	padding-top: 20px;
	clear: both;
}

input{
	text-transform: uppercase;
	font-size: 1.5em;
	height: 60px;
	width: 90%;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 60px;
	padding: 20px;
	box-sizing: border-box;
	outline: none;
}

input:focus{
	border: 2px solid #088A08;
}

label{
	font-size: 1.3em;
}

button{
	font-size: 1.8em;
	width: 50%;
	height: 60px;
	border: none;
	border-radius: 10px;
	color: white;
	opacity: .9;
}

button:hover{
	opacity: 1;
	cursor: pointer;
}

button:last-child{
	margin-top: 30px;
}

h2{
	margin-top: 50px;
}

.salvar{
	background: #088A08;
}

.voltar{
	background: #aaa;
	margin-bottom: 50px;
}

.left{
	margin-top: 10px;
	width: 100%;
}

.right{
	width: 100%;
}

.clear{
	clear: both;
}

#hidden{
	display: none;
}

table{
	width: 90%;
	font-size: 1.2em;
	margin: 50px auto;
}

th, td{
	border-top: 1px solid black;
	padding: 15px;
}


@media(min-width: 425px){
	.left{
		margin-top: 10px;
		margin-left: 20px;
		float: left;
		width: 45%;
	}

	.right{
		margin-top: 10px;
		margin-right: 20px;
		float: right;
		width: 45%;
	}

	img{
		width: 20%;
	}

	h3{
		font-size: 1.5rem;
	}
}

@media(min-width: 768px){
	input{
		width: 80%;
	}

	button{
		width: 20%;
	}

	form button{
		width: 40%;
	}

	input[type="date"]{
		width: 80%;
		margin-right: 5%;
	}

	input[type="time"]{
		width: 80%;
		margin-left: 5%;
	}

	#container form{
		width: 50%;
		margin: 0 auto;
	}

	#hidden{
		display: block;
	}
}