*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: Arial, Helvetica;
	background-color: #f7f7f7;

}

#container{
	text-align: center; /*#f7f7f7*/
	margin-top: 10%;
	position: relative;
}

img{
	width: 40%;
}

i{
	position: absolute;
	margin-left: -35%;
	padding-top: 6px;
	font-size: 2.0em;
	color: #088A08;
}


input{
	font-size: 1.4em;
	text-transform: uppercase;
	height: 2em;
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-left: 20%;
	box-sizing: border-box;
	outline: none;
}

input:focus{
	border: 2px solid #088A08;
}

button{
	width: 45%;
	height: 1.6em;
	border: none;
	border-radius: 10px;
	color: white;
	background-color: #088A08;
	font-size: 2em;
	opacity: .9;
	margin: 60px 0;
}

button:hover{
	cursor: pointer;
	opacity: 1;
}

@media(min-width: 768px){
	img{
		width: 20%;
	}

	input{
		width: 50%;
		padding-left: 10%;
	}

	i{
	margin-left: -22%;
	font-size: 2.2em;
	}

	#container{ 
	margin-top: 1%;
	}

	button{
		width: 30%;
	}
}

@media(min-width: 1440px){
	img{
		width: 15%;
	}

	input{
		width: 30%;
		padding-left: 5%;
	}

	i{
	margin-left: -14%;

	}
	#container{ 
	margin-top: 1%;
	}

	button{
		width: 15%;
	}
}