*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: Arial, Helvetica;
	background-color: #f7f7f7;
}

#container{
	width: 80%;
	margin: 0 auto;
	text-align: center; /*#f7f7f7*/
	padding-top: 50px;
}


img{
	float: left;
}

.float{
	float: right;
}


button{
	font-size: 1.8em;
	width: 40%;
	height: 80px;
	border: none;
	border-radius: 10px;
	color: white;
	margin-top: 8rem;
	opacity: .9;
}

button:hover{
	cursor: pointer;
	opacity: 1;
}



.voltar{
	background: #aaa;
	margin-bottom: 50px;
}
