*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: Arial, Helvetica;
	background-color: #f7f7f7;
}

#container{
	width: 95%;
	margin: 0 auto;
	text-align: center; /*#f7f7f7*/
	padding-top: 5px;
}

img{
	float: left;
	width: 30%;
}

.float{
	float: right;
}

h3{
	font-size: 1rem;
}

form{
	padding-top: 20px;
	clear: both;
}

input:focus{
	border: 2px solid #088A08;
}

label{
	font-size: 1rem;
	width: 90%;
	padding: 10px 0;
	margin: 2rem auto;
	background-color: #ddd; 
	border: none;
	border-radius: 5px;
}

label:hover{
	cursor: pointer;
	border: 2px solid #088A08;
}

i{
	color: #088A08;
	padding-right: 10px;
	font-size: 1.5rem;
}

button{
	margin-top: 80px;
	font-size: 1.8em;
	width: 40%;
	height: 60px;
	border: none;
	border-radius: 10px;
	color: white;
	opacity: .9;
}

button:hover{
	cursor: pointer;
	opacity: 1;
}

.salvar{
	background: #088A08;
}

.voltar{
	background: #aaa;
	margin-bottom: 50px;
}

button:last-child{
	margin-top: 30px;
}


@media(min-width: 768px){
	button{
		width: 20%;
	}

	h3{
		font-size: 1.5rem;
	}

	img{
		width: 20%;
	}

	label{
		width: 40%;
		padding-left: 10px;
	}
}

@media(min-width: 1024px){
	label{
		margin-top: 1rem;
	}
}
